body {  
    margin: 0;
    background-color: #F4C2C2;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.5;
    color: rgb(19, 184, 206);
}

    *,
    *:before,
    *:after{
        box-sizing: border-box
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#man {
     width:5%;
}